{% extends "base.html" %}

{% block content %}

<!-- HTML FOR THE SSO EMBED PAGE -->
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- year dropdown selection -->  
      <div class="form-group">
          <select class="form-control" id="year">
            <option value="">Any Year</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
          </select>
        </div>
      </div>

    <div class="col-sm">
      <!-- gender buttons -->  
      <div id="gender_buttons">

      <button id="male_button" type="button" class="btn btn-light">
       <img id="maleimg" src="static/male-on.png" height="50" width="50" background_colour=#0000FF>
      </button>
    
      <button id="female_button" type="button" class="btn btn-light">
        <img id="femaleimg" src="static/female-on.png" height="50" width="50">
      </button>
    
      <button id="clear_gender" type="button" class="btn btn-light">Clear Gender</button>
    
      </div>
    </div>

    <div class="col-sm">
      <!-- run dashboard button -->
      <button id="run_dash" type="button" class="btn btn-info">RUN DASHBOARD</button>
    </div>
    
  </div>
</div>
<br>

<!-- SSO iframe -->




<!-- JAVASCRIPT FOR INTERACTION WITH THE IFRAME -->



{% endblock %}