{% extends "base.html" %}

{% block content %}

<!-- HTML FOR THE SSO EMBED PAGE -->
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- year dropdown selection -->  
      <div class="form-group">
          <select class="form-control" id="year">
            <option value="">Any Year</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
          </select>
        </div>
      </div>

    <div class="col-sm">
      <!-- gender buttons -->  
      <div id="gender_buttons">

      <button id="male_button" type="button" class="btn btn-light">
       <img id="maleimg" src="static/male-on.png" height="50" width="50" background_colour=#0000FF>
      </button>
    
      <button id="female_button" type="button" class="btn btn-light">
        <img id="femaleimg" src="static/female-on.png" height="50" width="50">
      </button>
    
      <button id="clear_gender" type="button" class="btn btn-light">Clear Gender</button>
    
      </div>
    </div>

    <div class="col-sm">
      <!-- run dashboard button -->
      <button id="run_dash" type="button" class="btn btn-info">RUN DASHBOARD</button>
    </div>
    
  </div>
</div>
<br>

<!-- SSO iframe -->

<div class="text-center">
  <h2>SSO Embed Demo</h2>
  <iframe id="looker" src={{url}} allowtransparency="true" height="900" width="920"></iframe>
</div>



<!-- JAVASCRIPT FOR INTERACTION WITH THE IFRAME -->

<script type="text/javascript">
  // tell the script that it should always be reactive to user actions
  $(document).ready(function(){

  // set the variable iframe as the looker iframe
  let iframe = document.getElementById('looker');

  // WE WILL ADD ALL OUR JAVASCRIPT HERE!!!

     // run dashboard function
     $('#run_dash').click(function() {
      // print "I have run"
        console.log('I have run');
        // run the dashboard
               iframe.contentWindow.postMessage(JSON.stringify({
               type: "dashboard:run"
        }),"https://pitcherpakeman001.lookersandbox.com");
      })


  })
</script>


{% endblock %}