{% extends "base.html" %}

{% block content %}

  <!-- 
#################################
#                               #
#  HTML FOR THE SSO EMBED PAGE  #
#                               #
#################################
   -->

<!-- 
this form allows flask_app.py to generate the iframe url using the selected user
user_array is the array of users from the users json file, this has been parsed through from flask_app.py
 -->

  <form method="POST" action="/sso_embed">
      <select name="user_id">
        <!-- iterate through the users in user_array -->
        {% for user in user_array %}
        <!-- the value is what is being parsed back to the sso_embed function in flask_app.py
        notice jinja is being used here, similar to liquid -->
        <option value="{{ user }}">{{ user }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="submit">
  </form>

<!-- run dashboard button -->

      <button id="run_dash" type="button" >RUN DASHBOARD</button>

<!-- SSO iframe -->

  <div class="text-center">
      <h2>SSO Embed Demo ({{ user_id }}):</h2>
      <iframe id="looker" src={{url}} allowtransparency="true" height="720" width="920"></iframe>

  </div>

  <!-- 
#################################################
#                                               #
#  JAVASCRIPT FOR INTERACTION WITH THE IFRAMES  #
#                                               #
#################################################
   -->

    <script type="text/javascript">
    // tell the script that it should always be reactive to forms and button presses on the page
    $(document).ready(function(){

    // set the variable iframe as the looker iframe
    let iframe = document.getElementById('looker');

    // run dashboard function
    $('#run_dash').click(function() {
      // print "I have run"
        console.log('I have run');
        // run the dashboard
               iframe.contentWindow.postMessage(JSON.stringify({
               type: "dashboard:run"
             }),"https://localhost:9999");
           })

  })

  </script>

{% endblock %}